
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Ready for your next journey? ✈️</h1>
        <p class="lead text-muted">It's Dangerous to go Alone! Take this information and prepare better. </p>
        <form [formGroup]="form">
        <select class="form-select jumbotron-select" [formControlName]="formConst.cityList" (change)="onSelectCityChange($event)">
          <option disabled value="0">Select your location and find out </option>
          <option *ngFor="let city of citiesRequestList" value="{{city.cityId}}">
            {{city.cityName}}
          </option>
        </select>
        </form>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <p>{{cityDescription}}</p>
        <app-city-weather [citySelected]="cityId"></app-city-weather>
      </div>
    </div>
