<div class="row">

    <div class="d-flex justify-content-center" *ngIf="isLoading">
        <div class="spinner-border" role="status">
        </div>
      </div>

    <div *ngFor="let cityWeather of citiesWeatherRequestList; let i = index"  class="col-md-2">
      <div class="card mb-2 box-shadow">
        <img class="card-img-top" src="/assets/img/{{cityWeather.forecast}}.jpg" class="center-cropped"  height="100">
        <div class="card-body">
          <p class="card-text"><strong>{{(i==0?'Today ':'')}} {{cityWeather.temperatureC}}°C / {{cityWeather.temperatureF}}°F</strong> <br>  Feeling {{cityWeather.forecast}} <br> <small class="text-muted">{{cityWeather.weatherDate | date}}</small>
          </p>
        </div>
      </div>
    </div>
</div>
